<div class="container">
  <h1>All our cocktails</h1>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to (cocktail_path(cocktail)) do %>
        <div class="card", style="background-image: url(<%= cl_image_path("efwdrnlyxvlxw90gnvdn", width: 400, height: 300, crop: :fill) %>)">
          <p><%= cocktail.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>



  <%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-success my-3" %>
</div>
